

.contacts{
    background-color:#55678D;
    margin-top:22px;
    margin-bottom:12px;
    color:white;
    padding-top:17px;
    padding-bottom:17px;
    margin-left:30px;
    margin-right:30px;
    padding-right:30px;
    padding-left:18px;
	border-radius:30px;
    text-align:center;
}

.map{
    margin-bottom:42px;
}

.contacts_2{
   background-color:#55678D;
    margin-top:22px;
    margin-bottom:12px;
    color:white;
    padding-top:12px;
    padding-bottom:12px;
    margin-left:30px;
    margin-right:30px;
    padding-left:18px;
	border-radius:30px;
    text-align:center;
}

.contacts_3{
  background-color:#55678D;
    margin-top:22px;
    margin-bottom:12px;
    color:white;
    padding-top:12px;
    padding-bottom:12px;
    margin-left:30px;
    margin-right:30px;
    padding-left:18px;
	border-radius:30px;
    text-align:center;
    margin-bottom:40px;
}

