

p{
    font-family:Times, serif;
    text-align:center;
}

p1{
    font-family:Helvetica,sans-serif; 
    font-weight:bold;
    border-radius:30px;
    font-size:40px;
   display:block;
    background-color:#55678D;
    color:white;
    margin-right: 60px;
    margin-left:60px;
}

.links{
    border-radius:30px;
    background-color:#55678D;
    margin-right:60px;
    margin-left:60px;
    margin-top:40px;
    font-size:18px;
}

p a{
    color:white;
}

p a:hover{
    color:burlywood;
    font-weight:bold;
}
